.container {
    width: 80%; 
    margin: auto; 
    // padding: 20px; 
    background: white;
}
.tabs {
    display: flex;
    width: 50%;
    // padding: 10px; 
    height: 60px;
    // border-radius: 4px;
    // margin: 10px 10px;
    
}
.tab-button { 
    flex: 1; 
    padding: 10px; 
    color: white; 
    border: none; 
    background: none; cursor: pointer; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0 10px;
    background: #aaaaaa; 
    font-size: 18px;
    transition: 0.3s;
   
}
.tab-button:hover, .active { 
    background: rgb(66, 66, 66); 
    color: white;
}
.tab-content { 
    display: none; 
    margin: 0 10px;
    background: white; 
}
.show { 
    display: block; 
}

.conteudo{
    background-color: rgb(66, 66, 66);
    padding: 60px;
    padding-top: 60px;
    color: white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 800px;
    overflow-y: scroll;
    .vendas{
        display: flex;
        justify-content: space-between;
        // background-color: #aaaaaa;
        height: 100%;
        .linhaVendas{
            width: 2px;
            background-color: aliceblue;
            height: 100%;
        }
        .abaEsqVendas{
            font-size: 40px;
            display: flex;
            flex-direction: column;
            // gap: 120px;
            justify-content: space-between;
            
        }
        .abaDirVendas{
            font-size: 40px;
            display: flex;
            flex-direction: column;
            // gap: 120px;
            justify-content: space-between;
            >div{
                :nth-child(2){
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    font-weight: bold;
                    font-size: 50px;
                    p{
                        color: rgb(68, 238, 68);
                        font-size: 25px;
                        margin-left: 200px;
                    }
                }
                
            }
        }
    }



    .conteudoCarros{
        display: flex;
        flex-direction: column;
        
        .pesquisarEstoque{
            width: 100%;
            display: flex;
            background-color: #fff;
            border-radius: 3px;
            >img{
                max-width: 50px;
    
            }
            input[type=text]{
                width: 100%;
                border: none;
                outline: none;
                padding-left: 10px;
                border-radius: 3px;
                
            }
        }
    }
    .btnsEstoqueCarro{
        display: flex;
        justify-content: space-between;
        margin-top: 1%;
        >img{
            width: 40px;
            height: 40px;
        }
        input[type=button]{
            height: 40px;
            cursor: pointer;
            border: none;
            background-color: #ffffff;
            border-radius: 5px;
            transition: 0.3s;
            width: 300px;
            color: black;
            box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.69);
        }
        input[type=button]:hover{
            background-color: #e0e0e0;
        }
    }

    .carrosEstoque{
        display: flex;
        width: 100%;
        // background-color: #aaaaaa;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
        .carroCard{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap; 
            background-color: #fff;
            padding: 20px;
            border-radius: 6px;
            width: 19%;
            a{
                color: rgb(0, 0, 0);
                text-decoration: none;
            }
            img{
                width: 350px;
                height: 230px;
                object-fit: cover;  /* Faz com que a imagem cubra toda a área sem distorção */
                object-position: center; 
                border-radius: 6px;
            }
            .tituloCarro{
                font-size: 30px;
                margin-top: 10px;
                border-bottom: rgb(66, 66, 66) solid 2px;

            }
            .anoCarro{
                font-size: 19px;
                margin-top: 10px;
            }
            .valorCustoTxt{
                margin-top: 10px;
                font-size: 20px;
            }
            .valorCusto{
                font-size: 26px;
                a{
                    color: rgb(66, 66, 66);
                    font-weight: bold;
                }
            }
            .valorVendaTxt{
                margin-top: 10px;
                font-size: 20px;
            }
            .valorVenda{
                font-size: 28px;
                a{
                    color: rgb(66, 66, 66);
                    font-weight: bold;
                }
            }
            .qtdVenda{
                margin-top: 10px;
                font-size: 20px;
            }
        }
        
    }
}



////// estilização do vendedor
/// 
/// 
/// 
/// 

.tabelaNegociacoes {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 20px;
    
    

}

.tabelaNegociacoes thead {
    // background-color: #f0f0f0;
}

.tabelaNegociacoes th,
.tabelaNegociacoes td {
    padding: 10px;
    font-size: 22px;
    // border: 1px solid #ccc;
    text-align: left;
    
}
.btnInc{
    input{
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #3fcfb0;
        transition: 0.3s;
        padding: 5px;
        width: 200px;
        border-radius: 4px;
        font-size: 20px;
    }
    input:hover{
        background-color: #297967;
    }
}

.tabelaNegociacoes tbody tr:nth-child(even) {
    // background-color: #fafafa;
}