@charset "UTF-8";
.container {
  width: 80%;
  margin: auto;
  background: white;
}

.tabs {
  display: flex;
  width: 50%;
  height: 60px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 0 10px;
  background: #aaaaaa;
  font-size: 18px;
  transition: 0.3s;
}

.tab-button:hover, .active {
  background: rgb(66, 66, 66);
  color: white;
}

.tab-content {
  display: none;
  margin: 0 10px;
  background: white;
}

.show {
  display: block;
}

.conteudo {
  background-color: rgb(66, 66, 66);
  padding: 60px;
  padding-top: 60px;
  color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 800px;
  overflow-y: scroll;
}
.conteudo .vendas {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.conteudo .vendas .linhaVendas {
  width: 2px;
  background-color: aliceblue;
  height: 100%;
}
.conteudo .vendas .abaEsqVendas {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conteudo .vendas .abaDirVendas {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conteudo .vendas .abaDirVendas > div :nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
  font-size: 50px;
}
.conteudo .vendas .abaDirVendas > div :nth-child(2) p {
  color: rgb(68, 238, 68);
  font-size: 25px;
  margin-left: 200px;
}
.conteudo .conteudoCarros {
  display: flex;
  flex-direction: column;
}
.conteudo .conteudoCarros .pesquisarEstoque {
  width: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 3px;
}
.conteudo .conteudoCarros .pesquisarEstoque > img {
  max-width: 50px;
}
.conteudo .conteudoCarros .pesquisarEstoque input[type=text] {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  border-radius: 3px;
}
.conteudo .btnsEstoqueCarro {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
.conteudo .btnsEstoqueCarro > img {
  width: 40px;
  height: 40px;
}
.conteudo .btnsEstoqueCarro input[type=button] {
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
  width: 300px;
  color: black;
  box-shadow: 10px 10px 12px -9px rgba(0, 0, 0, 0.69);
}
.conteudo .btnsEstoqueCarro input[type=button]:hover {
  background-color: #e0e0e0;
}
.conteudo .carrosEstoque {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.conteudo .carrosEstoque .carroCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 19%;
}
.conteudo .carrosEstoque .carroCard a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.conteudo .carrosEstoque .carroCard img {
  width: 350px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover; /* Faz com que a imagem cubra toda a área sem distorção */
  -o-object-position: center;
     object-position: center;
  border-radius: 6px;
}
.conteudo .carrosEstoque .carroCard .tituloCarro {
  font-size: 30px;
  margin-top: 10px;
  border-bottom: rgb(66, 66, 66) solid 2px;
}
.conteudo .carrosEstoque .carroCard .anoCarro {
  font-size: 19px;
  margin-top: 10px;
}
.conteudo .carrosEstoque .carroCard .valorCustoTxt {
  margin-top: 10px;
  font-size: 20px;
}
.conteudo .carrosEstoque .carroCard .valorCusto {
  font-size: 26px;
}
.conteudo .carrosEstoque .carroCard .valorCusto a {
  color: rgb(66, 66, 66);
  font-weight: bold;
}
.conteudo .carrosEstoque .carroCard .valorVendaTxt {
  margin-top: 10px;
  font-size: 20px;
}
.conteudo .carrosEstoque .carroCard .valorVenda {
  font-size: 28px;
}
.conteudo .carrosEstoque .carroCard .valorVenda a {
  color: rgb(66, 66, 66);
  font-weight: bold;
}
.conteudo .carrosEstoque .carroCard .qtdVenda {
  margin-top: 10px;
  font-size: 20px;
}/*# sourceMappingURL=dashboardAdmVend.css.map */