
.header {
    height: 160px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px;
    border-bottom: solid 1px black;

    .logo img {
        max-width: 250px;
        width: 100%; /* Garante que a imagem se ajuste ao espaço disponível */
        height: auto;
    }
}
