@import url(navbarStyle/navbarStyle.css);
@import url(inicialStyle/inicial.css);
@import url(inputPesquisar/inputPesq.css);
@import url(destaques/destaques.css);
@import url(categMarcas/categMarcas.css);
@import url(login/login.css);

$corPrimaria: #004AAD;

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}